



html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}


.content-row{
  margin: 10px -10px 10px -10px;
  padding-bottom:10px;
  *zoom: 1;
}

.content-row:before,.content-row:after{
  content: " ";
  display: table;
}

.content-row:after{
  clear: both;
}

@media (min-width: 800px) {
  .content-row .column {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    float: left;
  }
  .content-row .column.full {
    width: 100%;
  }
  .content-row .column.two-third {
    width: 66.7%;
  }
  .content-row .column.half {
    width: 50%;
  }
  .content-row .column.third {
    width: 33.3%;
  }
  .content-row .column.flow-opposite {
    float: right;
  }
}

